<div class="page-background">
    <div class="container mt-4">
      <h2>Order Details</h2>
      <div *ngIf="order">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <div class="form-control">{{ order.name }}</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <div class="form-control">{{ order.email }}</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Phone Number</label>
          <div class="form-control">{{ order.phoneNumber }}</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Address</label>
          <div class="form-control">{{ order.county }}, {{ order.city }}, {{ order.address }}, {{ order.postalCode }}</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Total Price</label>
          <div class="form-control">{{ order.totalPrice | currency: 'EUR' }}</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Order Status</label>
          <div *ngIf="order.orderOptions" class="d-flex align-items-center">
            <span class="order-status-badge" [ngClass]="{'confirmed': order.orderOptions.orderConfirmed, 'not-confirmed': !order.orderOptions.orderConfirmed}">
              {{ order.orderOptions.orderConfirmed ? 'Confirmed' : 'Not Confirmed' }}
            </span>
            <button *ngIf="order.orderOptions" class="btn btn-primary ms-auto btn-confirmation" (click)="toggleOrderConfirmed()">
              {{ order.orderOptions.orderConfirmed ? 'Set Not Confirmed' : 'Set Confirmed' }}
            </button>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Order Items</label>
          <div *ngFor="let item of order.orderItems" class="form-control mb-2">
            <div *ngIf="item.product">
              <strong>Product:</strong> {{ item.product.name }} - {{ item.quantity }} x {{ item.product.price| currency: 'EUR' }} - 
              {{ item.price | currency: 'EUR' }}
            </div>
            <div *ngIf="item.serviceProd">
              <strong>Service:</strong> {{ item.serviceProd.name }} - {{ item.quantity }} x {{ item.serviceProd.price | currency: 'EUR' }} - 
              {{ item.price | currency: 'EUR' }}
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-primary" (click)="adminBack()">Admin Panel</button>
          <button class="btn btn-danger" (click)="deleteOrder()">Delete Order</button>
        </div>
      </div>
      <div *ngIf="message" class="alert alert-info mt-3">{{ message }}</div>
    </div>
  </div>  