:host {
  display: block;
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
  min-height: 100vh;
}

.btn-home {
  background-color: #ffc107;
  color: #1c1c1c;
  border: none;
  font-size: 1.0rem;
  cursor: pointer;
}

.btn-home:hover {
  background-color: #e0a800;
  color: white;
}

.model-search .model-select {
  background-color: #333;
  color: #fff;
  border: 1px solid #ffc107;
  max-width: 180px;
  
}

.model-search .model-select option {
  background-color: #333;
  color: #fff;
}

.model-search .model-select:focus {
  border-color: #ffc107;
  box-shadow: 0 0 8px rgba(255, 235, 59, 0.6);
}

.search-bar {
  background-color: #333;
  color: #fff;
  border: 1px solid #ffc107;
  width: 200px;
  margin-left: 10px;
}

.search-bar::placeholder {
  color: #aaa;
  
}

.search-bar:focus {
  background-color: #444;
  border-color: #ffc107;
  box-shadow: 0 0 8px rgba(255, 235, 59, 0.6);
}

.btn-cart {
  background-color: #ffc107;
  color: #1c1c1c;
  border: none;
  font-size: 1.0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  margin-right: 15px;
}

.product-card {
  background-color: #222;
  color: #fff;
  border: 1px solid #333;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 5px solid #ffc107;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffc107;
}

.card-text {
  margin-bottom: 0.5rem;
  color: #ccc;
}

.model-select {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

.ml-2 {
  margin-left: 10px;
}
