.page-background {
    background: linear-gradient(135deg, #000000, #434343, #8b8b8b);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .container {
    max-width: 1200px;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    color: #ffffff;
  }
  
  h2 {
    color: #ffeb3b;
    text-align: center;
  }
  
  .form-label {
    color: #ffeb3b;
  }
  
  .form-control {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #555555;
    border-radius: 5px;
  }
  
  .form-control::placeholder {
    color: #ffffff;
  }
  
  .form-control:focus {
    border-color: #ffeb3b;
    box-shadow: 0 0 8px rgba(255, 235, 59, 0.6);
  }
  
  .form-control:-webkit-autofill,
    .form-control:-webkit-autofill:hover,
    .form-control:-webkit-autofill:focus,
    .form-control:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #333333 inset !important;
    -webkit-text-fill-color: #ffffff !important;
    caret-color: #ffffff !important;
  }
  
  .btn-custom-color {
    background-color: #ffeb3b;
    color: #000000;
    border: none;
  }
  
  .btn-custom-color:hover {
    background-color: #fdd835;
    color: #000000;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    color: #ffffff;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #ffffff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    color: #ffffff;
  }
  
  .text-center {
    text-align: center;
  }
  
  .alert {
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    max-width: 250px;
  }
  
  .alert-update {
    margin: auto;
  }
  
  .img-thumbnail {
    margin-left: 10px;
    border: none; 
    padding: 0; 
    border-radius: 5px;
  }
  
  .btn-submit {
    background-color: #ffeb3b;
    color: #000000;
    border: none;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .btn-submit:hover {
    background-color: #fdd835;
    color: #000000;
  }
  
  .btn-back-admin {
    float: left;
  }
  
  .validation-message {
    color: #ffeb3b;
    font-size: 12px;
    margin-top: 5px;
  }
  